# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# VS Code settings
.vscode/

# Build directory
/dist

# Dependency directories
/node_modules/
/jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
